In [2]:
from strategy_pool import StrategyPool
import pandas as pd
import time
from params_gen import *
from dateutil.parser import parse
from idiosyncratic_backtest import IdiosyncraticBacktest

In [3]:
basic_all_time = {
    'basic':param_basic_alltime,
}

In [22]:
ss = StrategyPool(basic_all_time)
ss.run()

Future Database init...
Time used: 17.410550800001147

In [5]:
df_old = ss.data_proxy.get_daily_df()
df_old['code'] = [i.upper() for i in df_old['code']]
df_old = IdiosyncraticBacktest.dateindex_2multiindex(df_old)

In [6]:
print(df_old)

                      open     high    close      low       opi    volume  \
date       code
2005-01-04 A0501    2890.0   2890.0   2868.0   2850.0   82760.0    7968.0
           A0503    2622.0   2639.0   2639.0   2622.0    4426.0     524.0
           A0505    2585.0   2588.0   2571.0   2564.0  334512.0  177076.0
           A0507    2582.0   2584.0   2572.0   2561.0    4012.0     536.0
           A0509    2601.0   2613.0   2595.0   2590.0    3948.0     658.0
...                    ...      ...      ...      ...       ...       ...
2019-09-30 ZN2005  18665.0  18730.0  18600.0  18590.0    1448.0     512.0
           ZN2006  18660.0  18660.0  18660.0  18660.0     230.0       2.0
           ZN2007  18660.0  18660.0  18660.0  18660.0     168.0       2.0
           ZN2008  18625.0  18625.0  18625.0  18625.0      66.0       4.0
           ZN2009  18630.0  18635.0  18585.0  18585.0      36.0       8.0

                         amount instrument
date       code
2005-01-04 A0501   2.284707e+08          a
           A0503   1.379300e+07          a
           A0505   4.558250e+09          a
           A0507   1.379330e+07          a
           A0509   1.712560e+07          a
...                         ...        ...
2019-09-30 ZN2005  0.000000e+00         zn
           ZN2006  0.000000e+00         zn
           ZN2007  0.000000e+00         zn
           ZN2008  0.000000e+00         zn
           ZN2009  0.000000e+00         zn

[712188 rows x 8 columns]

In [7]:
df_new = pd.read_csv('..\\save\\future_day.csv')
df_new['date'] = [parse(i) for i in df_new['date']]
df_new = df_new.set_index(['date','code']).sort_index()

In [8]:
def len_intersection(df1,df2):
    return (set(df1.index) -set(df2.index))

In [16]:
pointer = 'date<="{}" '.format('2019-09-30')
df_new = df_new.query(pointer).dropna()
print(df_new)
return df_mew/index/date
print (pointer.predict(x.date,y.date))

                   sett_price  positions       open      close      high  \
date       code
2005-01-04 A0501     2867.000    82760.0   2890.000   2868.000   2890.00
           A0503     2632.000     4426.0   2622.000   2639.000   2639.00
           A0505     2574.000   334512.0   2585.000   2571.000   2588.00
           A0507     2573.000     4012.0   2582.000   2572.000   2584.00
           A0509     2602.000     3948.0   2601.000   2595.000   2613.00
...                       ...        ...        ...        ...       ...
2019-09-30 ZN2007   18660.000      168.0  18660.000  18660.000  18660.00
           ZN2008   18625.000       66.0  18625.000  18625.000  18625.00
           ZN2009   18620.000       36.0  18630.000  18585.000  18635.00
           ZN8888   18715.034   363440.0  18710.327  18681.944  18801.17
           ZN9999   18730.000   172444.0  18720.000  18695.000  18820.00

                         low    volume         money
date       code
2005-01-04 A0501    2850.000    7968.0  2.284707e+08
           A0503    2622.000     524.0  1.379300e+07
           A0505    2564.000  177076.0  4.558250e+09
           A0507    2561.000     536.0  1.379330e+07
           A0509    2590.000     658.0  1.712560e+07
...                      ...       ...           ...
2019-09-30 ZN2007  18660.000       2.0  1.866000e+05
           ZN2008  18625.000       4.0  3.725000e+05
           ZN2009  18585.000       8.0  7.448000e+05
           ZN8888  18633.418  302826.0  2.834806e+10
           ZN9999  18650.000  196208.0  1.837700e+10

[1341311 rows x 8 columns]

In [17]:
old_new = len_intersection(df_old,df_new)
new_old = len_intersection(df_new,df_old)

In [1]:
print(len(old_new))

NameError: name 'old_new' is not defined

In [21]:
print(len(new_old))

805848